<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Basic Form</h1>
   <div>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <br>
        <button type="submit">Submit Button</button>
    </form>
    
   </div> 
 <br>
    <!-- ##############################################-->
    <hr>
    <div>
        <h3>form = form.as_table</h3>
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit">Submit Button</button>
    </div>
    <!-- ##############################################-->
    <hr>
    <div>
        <h3>form.as_p</h3>
        {{ form.as_p }}
        <button type="submit">Submit Button</button>
    </div>
    <!-- ##############################################-->
    <hr>
    <div>
        <h3>form.as_ul</h3>
        <ul>
        {{ form.as_ul }}
        </ul>
        <button type="submit">Submit Button</button>
    </div>
    <!-- ##############################################-->
    <hr>
    <div>
        <h3>form.as_div</h3>
        {{ form.as_div }}
        <button type="submit">Submit Button</button>
    </div>
</body>
</html>